<div class="education">
    <mat-accordion>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Bachelor Of Engineering
            </mat-panel-title>
            <mat-panel-description>
              Nandha College Of Technology <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2019 - 2023
            </mat-panel-description>
          </mat-expansion-panel-header>
          <br>
          <p>B.E., Computer Science</p>
        <p>Grade : 8.97 CGPA</p>
        <p>Activities and societies : Chess</p>
        <p>Skills : Enginnering &#8226; Programming &#8226; Chess player</p>
        <p>Honors & Awards : Best Outgoing Student ( batch 2019-2023 )</p>
        <p>Location : India, TamilNadu, Erode</p>
        </mat-expansion-panel>
        <br/>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Higher Secondary
            </mat-panel-title>
            <mat-panel-description>
              John Dewey Matric Hr Sec School <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2017 - 2019
            </mat-panel-description>
          </mat-expansion-panel-header>
          <br>
          <p>Mathematics and Computer Science</p>
          <p>Grade : 86.33%</p>
          <p>Activities and societies : Chess</p>
          <p>Skills : Programming &#8226; Chess player</p>
          <p>Location : India, TamilNadu, Villupuram</p>
        </mat-expansion-panel><br>
        
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              SSLC
            </mat-panel-title>
            <mat-panel-description>
                John Dewey Matric Hr Sec School <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2016 - 2017
            </mat-panel-description>
          </mat-expansion-panel-header>
          <br>
          <p>Grade : 97.6%</p>
          <p>Activities and societies : Chess &#8226; Painting </p>
          <p>Skills : Chess player</p>
          <p>Location : India, TamilNadu, Villupuram</p>
        </mat-expansion-panel>
      </mat-accordion>
</div>