  <span class="space" *ngFor="let language of languages1">
      <img src="../../../assets/images/{{language.link}}" title={{language.name}} class="skillCard-img" />
  </span>
  <br>
  <br>
  <span class="space" *ngFor="let language of languages2">
      <img src="../../../assets/images/{{language.link}}" title={{language.name}} class="skillCard-img" />
  </span>
  <br>
  <br>
  <span class="space" *ngFor="let language of languages3">
      <img src="../../../assets/images/{{language.link}}" title={{language.name}} class="skillCard-img" />
  </span>
  


